/*overall settings*/

body{margin: 0;
padding: 0;}
body{min-width: 1200px;}
body{font-family: 'Roboto', sans-serif;}
@font-face { 
  font-family: 'Web font'; 
  src: url('webfont.woff2') format('woff2'), 
       url('webfont.ttf')  format('truetype'), /* Только если нужна поддержка старых Android, иначе закомментировать */ 
       url('webfont.woff') format('woff'); 
  font-weight: normal; 
  font-style: normal; 
}
a{text-decoration: none;}
/*floats*/
.right{float: right;}
.left{float: left;}
.center{text-align: center;}
ul li{display: inline-block;}
h1 h2 h3 h4{width: 0; height: 0; margin: 0; padding: 0;}
input{margin: 0; padding: 0;}

.container{
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 0;
	margin-bottom: 0;	
 }
 .row{
 	overflow: hidden;
 }

/*header*/
.top{
	background-color: #1d1007;
	-webkit-background-size: 100%;
	background-size: 100%;
	height: 66px;
}
.top-items{display: inline-block;
content:'';
  
}
.top-item-vk-like{
position: relative;
background-image: url(../img/content/vkontakte.png);
width: 12px;
  height: 12px;
  vertical-align:middle;
  top: 22px;
  left: 20px;
  background-size:100%;
  background-repeat: no-repeat;
}
.top-item-like-countdown{
position: relative;
background-image: url(../img/content/heart.png);
width: 12px;
  height: 12px;
  vertical-align:middle;
  top: 22px;
  left: 40px;
  background-size:100%;
  background-repeat: no-repeat;
}
.top-item-50likes{
position: relative;
left: 60px;	
top: -10px;
color: #f5abb6;	
}

.top-item-search-winow{
position: relative;
left: 320px;
	top: -50px;
}
.search-window{
	position: relative;
	
}
.search-window-input{
	position: relative;
	float: left;
  border: none;
  padding: 0 280px 1px 15px;
  background: #311d0f url(../img/icon/Search-glass.png) no-repeat;
  vertical-align: middle;
  color: #d8a95e;
  
}



.top-item__number{
position: relative;
color: #fff;
font-size: 16px;
font-weight: normal;
left: 890px;
top: -70px;
}

/*
.search-window{
	font-size: 15px;

}

.search-window{
	padding-top: 5px;
	margin-left: 350px;
	margin-bottom: 25%;
	background-color: #1d1007;
}
.search-window_item{
width: 378px;
height: 25px;
display: inline;
margin-left: 250px;
margin-bottom: 25px;
margin-top: 0;
padding-top: 0;
}

#search {*/
  /* устанавливаем ширину формы,
  ** равную ширине поля ввода (183 + 37 + 15)	*/
 /* width: 335px;
  height: 29px;
}*/

/* делаем инпуты плавающими, чтобы убрать лишние отступы,
** и отключаем бордюры */
/*#search input {
  float: left;
  border: none;
}*/

/* стили для поля ввода */
/*#search .input {
  width: 183px;
  height: 28px;*/

  /* внутренний отступ справа (37px) делаем больше левого,
  ** т.к. там будет размещена кнопка отправки	*/
  /*padding: 0 280px 1px 15px;
  background: #311d0f url(../img/icon/Search-glass.png) no-repeat;
  color: #d8a95e;
  font: 13px/28px Tahoma, Arial, sans-serif;
  outline: none;
  border-radius: 15px;
}*/

/* приходится использовать хак для FireFox
** для вертикального выравнивания текста,
** т.к. у него свои особые представления об этом */
/*@-moz-document url-prefix() {
  #search .input {
    height: 27px;
    padding-bottom: 2px;
  }
}*/

/* меняем оформление поля ввода при фокусе */
/*#search .input:focus {
  background-color: #E8E8E8;
  background-position: 0 -29px;
  color: #333;
}*/

/* оформляем кнопку отправки */
/*#search .submit {
  width: 37px;
  height: 29px;
  cursor: pointer;*/

  /* смещаем кнопку влево на собственную ширину,
  ** чтобы она оказалась над полем ввода */
  /*margin-left: -280px;*/

  /* по-нормальному, здесь достаточно было бы указать background: none;
  ** но приходится указывать фон из-за бага в IE */
  /*background: url(dontexist.png);
}*/


/*main*/
.promo{
	background-image: url(../img/bgr/horsaye.png);
	overflow: hidden;
	background-repeat: no-repeat;
	min-width: 1400px;
	min-height: 605px;
	margin: 0 auto;
	border-bottom: 4px solid #27160a;
}
.promo-column{
	width: 50%;
}
.promo-title{
	font-style: italic;
	font-size: 20px;
	font-weight: normal;
	margin-top: 200px;
	margin-left: 100px;
	color: #594232;
font-family: MuseoSansCurl 500;
position: relative;


}
.promo-title:before{
content:"";
  display: inline-block;
  position: absolute;
  bottom: 7px;
  right: 240px;
background-color: #594232;
  width: 8px;
  height: 8px;
  border-radius: 50% 50%;
}
.promo-title:after{
content:"";
  display: inline-block;
  position: absolute;
  bottom: 7px;
  left: 240px;
background-color: #594232;
  width: 8px;
  height: 8px;
  border-radius: 50% 50%;	
}

.promo-btn a{
	text-transform: uppercase;
	font-family: AmazingGrotesk TemiBold;
	font-size: 44px;
	font-weight: bold;
	color: #fff;
	padding: 30px 100px;
	background-image: url(../img/bgr/bgwood-1.png);
	background-repeat: no-repeat;
	color: #8e7f74;
	border-radius: 15px;
	/*добавить внутренняя тень*/
	
}
.promo-column{
	position: relative;
	
}
/*белые круги */

/*.corner{
width: 40px;
height: 40px;
background-image: url(../img/icon/WitheRound.png);
background-repeat: no-repeat;
padding-top: 10px;
text-align: center;
color: #fff;	
}
.l-top-corner{
top: 40px;
left: 30px;
}
.r-top-corner{
top: 60px;
left: 88px;
}
.l-bottom-corner{
top: 50px;
left: 48%;
}
.r-bottom-corner{
top: 60px;
right: 88px;	
}*/


.promo-subtitle{
	font-style: italic;
	font-weight: normal;
	font-size: 20px;
	color: #594232;
	margin-left: 100px;
	margin-top: 20px;
}


.promo-name,.promo-title, .promo-slogan{display: inline-block;
}
/*main-nav*/
.main-nav{
	background-image: url(../img/bgr/bgwood-1.png);
	min-height: 648px;
	background-position: 50% 50%;
}

.row{ 
  height: 222px;
  margin: 0 auto;
  /* border: 4px solid #2AA198;*/
} 
.column-first{
padding:;
  box-sizing: border-box;
  
  margin: ;
width: 33.33%; 
float: left;
margin: 0 auto;
min-height: 222px;
}

.column-first:nth-child(2){
	background: rgba(255,229,174,0.5)
}

.column-second{
padding:;
  box-sizing: border-box;
  
  margin: ;
width: 33.33%; 
float: left;
margin: 0 auto;
min-height: 222px;	
}

.column-second:nth-child(1){
	background: rgba(255,229,174,0.5)
}
.column-second:nth-child(3){
	background: rgba(255,229,174,0.5)
}

.column-third{ 
padding:;
  box-sizing: border-box;
  
  margin: ;
width: 33.33%; 
float: left;
margin: 0 auto;
min-height: 222px;
} 
.column-third:nth-child(2){
	background: rgba(255,229,174,0.5)
}

 /*titles nav*/

a.column-titles{
	text-transform: uppercase;
	font-size: 22px;
    color: #ffe5ae;
    display: block;
    height: 100%;
    margin-top: 20px;
    position: relative;
    font-family: MuseoSansCurl 300;
    font-weight: normal;
 }
 /*pictures nav*/
 .nav-item__pic{
 	margin-top: 33px;
 	margin-left: 155px;
 }
 

/*price*/
.price{
	background-image: url(../img/bgr/tileable_wood_texture.png);
	height: 67px;
	border-top: 4px solid #27160a;
	border-bottom: 4px solid #27160a;
	text-transform: uppercase;
	font-family: MuseoSansCurl 500;
	font-size: 20px;
	font-weight: normal;
}

/*gallery*/
.gallery{
	background-image: url(../img/bgr/galleryBGsmall.png);
	height: 283px;
	border-bottom: 4px solid #27160a;
	overflow: hidden;

}
/*gallery*/
/*section.gallery c ofh и высотой*/
/*абсолютное позиционирование*/
/*внутри dib элементики с posr*/
/*.gallery-item>img.gallery-item__pic+.gallery-item__info
.gallery-item__info{posa w100% h100% dn}
.gallery-item:hover > .gallery-item__info{display: block}*/
.gallery{
	overflow: hidden;
	height: 282px;
	
}

.gallery-item{
	position: relative;
	margin-right: 0;
	padding-right: 0;
	display: inline-block;

}
/*иконка фотогалереи*/

/*dib и posr в этих эл-тах обязательны */
.gallery-title-img{
position: absolute;
display: inline-block;
margin-top: 66px;
margin-left: 100px;
}
.gallery-title{
	position: absolute;
	display: inline-block;
	font-family: MuseoSansCurl 300;
	font-size: 20px;
	font-weight: normal;
	padding-right: ;
	padding-left: ;
	text-transform: uppercase;
	margin-top: 130px;
	margin-left: 32px;
}
.gallery-subtitle{
position: absolute;
display: inline-block;
margin-top: 160px;
margin-left: 50px;
}

/*картинки фотогалереи*/
.gallery-item__pic{
position: absolute;
		
}
.gallery-item__pic1{
	left: 260px;
	top: -15px;
}
.gallery-item__pic2{
	left: 539px;
	top: -15px;
}
.gallery-item__pic3{
	left: 820px;
	top: -15px;
}
.gallery-item__info{
	position: absolute;
	 width: 100%;
	 height: 100%;
	 display: none;
right: 150px;
  left: 50px;
	}

.gallery-item__pic:nth-child(2){
background: rgba(255,229,174,0.5)
}

.gallery-item__pic:hover {
background-color: rgba(255,225,225,0.5);	
}


/*news and feedback*/
.feedback-news{
	background-image: url(../img/bgr/textilBGsmall.png);
	height: 607px;
	font-family: MuseoSansCurl 500;
	overflow: hidden;
}

/*news*/
.column-left{
	width: 516px;
	color: #fff;
	font-style: none;
	font-weight: normal;
	font-family: MuseoSansCurl 500;
	
}
.news-title{
color: #ffe5ae;
font-size: 19px;
text-transform: uppercase;
}
.news-subtitle{
	color: #e7b457;
	font-size: 14px;
	margin: 0;
	padding: 0;
}
.news-subtitle-img{
margin-left: 240px;
margin-top: 25px;
}

time{
	font-size: 14px;
color: #ff9b1a;
}
.news-text{
	font-size: 12px;
	color: #c2a06d;
}

/*feedback*/

.column-right{
	width: 516px;
	color: #fff;
}

.feedback{
	padding-left: 35px;
	border-left: 2px solid #fff;
}
.feedback-title{
color: #ffe5ae;
font-size: 19px;
text-transform: uppercase;
font-family: MuseoSansCurl 500;
}
.feedback-subtitle{
	color: #e7b457;
	font-size: 14px;
}
.feedback-subtitle-img{
	margin-left: 240px;
margin-top: 25px;
}
.feedback-item_title{
	color: #ffe5ae;
	margin-top: 10px;
}
.feedback-item_name{
	color: #95725a;
	
	margin-left: 15px;
	margin-right: 15px;
}
.feedback-item_text{
	color: #b9a270;
	margin-top: 15px;
	margin-bottom: 40px;
}


/*location*/

.location{
	background-image: url(../img/bgr/galleryBGsmall.png);
	height: 82px;
	border-top: 4px solid #27160a;
	border-bottom: 4px solid #27160a;
}
.location-title{
	color: #30190c;
	font-size: 20px;
	text-transform: uppercase;
	margin-top: 20px;
}
/*map*/

.map{
	height: 563px;
	
}

/*footer*/

.footer-contacts{
    height: 200px;
	overflow: hidden;
	background-color: #1d1007;
}

.footer-contacts-item1{
	display: inline-block;
	color: #ffe5ae;
	border-left: 2px solid #ffe5ae;
	margin-top: 40px;
	padding-top: 5px;
	padding-bottom: 35px;
	padding-left: 20px;
}
.footer-adress-text1{
	position: relative;
	font-size: 15px;
text-transform: uppercase;
	
}
.footer-adress-text2{
	position: relative;
	font-size: 12px;
	text-transform: none;
}

.footer-contacts-item2{
	display: inline-block;
	
}
.copyright{
	position: relative;
	left: 240px;
	color: #ffe5ae;
	font-size: 12px;
}

.footer-contacts-item3{
	display: inline-block;
	border-right: 2px solid #ffe5ae;
	color: #ffe5ae;
	margin-top: 40px;
	padding-top: 5px;
	padding-bottom: 35px;
	padding-right: 20px;
margin-left: 570px;

}
.footer-number-text1{
	position: relative;
	text-align: right;
	font-size: 15px;
text-transform: uppercase;
}
.footer-number-text2{
	position: relative;
	text-align: right;
	font-size: 12px;
	text-transform: none;
}


















 








 