/*overall settings*/

body{margin: 0;
padding: 0;}
body{min-width: 1400px;}
body{font-family: 'Roboto', sans-serif;}
@font-face { 
  font-family: 'Web font'; 
  src: url('webfont.woff2') format('woff2'), 
       url('webfont.ttf')  format('truetype'), /* Только если нужна поддержка старых Android, иначе закомментировать */ 
       url('webfont.woff') format('woff'); 
  font-weight: normal; 
  font-style: normal; 
}
a{text-decoration: none;}
/*floats*/
.right{float: right;}
.left{float: left;}
.center{text-align: center;}
ul li{display: inline-block;}
h1 h2 h3 h4{width: 0; height: 0; margin: 0; padding: 0;}
input{margin: 0; padding: 0;}


.container{
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 0;
	margin-bottom: 0;	
 }
 .row{
 	overflow: hidden;
 }

 /*header*/
.top{
 background-color: #1d1007; 
  height: 66px;
  position: relative;
}
.top-item{position: absolute;}
.top-item__likecounter{
  color: pink;
  top: 20px;
  left: 15%;
}
.top-item__likecounter:before{
 content:"";
  display: inline-block;
padding: 10px;
background-image: url(../img/content/vkontakte.png);
  background-size: 22px 22px ;
  background-repeat: no-repeat;
  position: absolute;
top: 0px;
  right: 45px; 
}
.top-item__likecounter:after{
   content:"";
   padding: 10px;
  display: inline-block;
background-image: url(../img/content/heart.png);
  background-size: 15px 15px ;
  background-repeat: no-repeat;
  position: absolute;
top: 0px;
  right: 35px;
}

.top-item__number{
  color: #fff;
  
  right: 10%;
  top: 26px;
}
/*form*/
.top-item__form{
  top: 20px;
  left: 43%;
}
#search {
  /* устанавливаем ширину формы,
  ** равную ширине поля ввода (183 + 37 + 15)	*/
  width: 235px;
  height: 29px;
  border-radius: 10px;
}
/* делаем инпуты плавающими,
** и отключаем бордюры */
#search input {
  float: left;
  border: none;
}
/* стили для поля ввода */
#search .input {
  width: 183px;
  height: 28px;

  padding: 0 37px 1px 15px;
  background: #977049 url(https://lh4.googleusercontent.com/-EllJnywnmlY/UAaKJYSYYMI/AAAAAAAABUU/IaRo-yUcRmc/s235/search.png) no-repeat;
  color: #594232;
  font: 15px/28px Tahoma, Arial, sans-serif;
  outline: none;
  border-radius: 15px;
}
@-moz-document url-prefix() {
  #search .input {
    height: 27px;
    padding-bottom: 2px;
  }
}
/* меняем оформление поля ввода при фокусе */
#search .input:focus {
  background-color: #d8a95e;
  background-position: 0 -29px;
  color: #594232;
}
/* оформляем кнопку отправки */
#search .submit {
  width: 49px;
  height: 39px;
  cursor: pointer;
  margin-left: -37px;
  background: url(dontexist.png);
}

/*main*/
.promo{
    min-width: 1400px;
	min-height: 600px;
	margin: 0 auto;
	border-bottom: 4px solid #27160a;
	position: relative;
	
}
.promo_background-picture{
	position: absolute;
	background-image: url(../img/bgr/horsaye.png);
	background-size: 100% 100%;
	width: 53%;
	height: 621px;
	bottom: 0;
	right: 0;
	
}

.promo-title{
	font-style: italic;
	font-size: 20px;
	font-weight: normal;
	color: #594232;
	font-family: MuseoSansCurl 300;
	position: absolute;
	top: 29%;
	left: 21%;
}
.promo-btn--background{
	position: absolute;
	background-image: url(../img/bgr/Ruthenia.png);
	background-size: 100% 100%;
	width: 27%;
	height: 114px;
	bottom: 42%;
	left: 16%;
}
.promo-btn a{
	text-transform: uppercase;
	font-family: MuseoSansCurl 300;
	font-size: 44px;
	font-weight: normal;
	color: #fff;
	position: absolute;
	left: 22.6%;
	bottom: 47.6%;
			
}
.promo-subtitle{
	font-style: italic;
	font-weight: normal;
	font-size: 20px;
	color: #594232;
	position: absolute;
	left: 22%;
	bottom: 35%;

}

.promo-title:before{
content:"";
  display: inline-block;
  position: absolute;
  bottom: 7px;
  right: 240px;
background-color: #594232;
  width: 8px;
  height: 8px;
  border-radius: 50% 50%;
}
.promo-title:after{
content:"";
  display: inline-block;
  position: absolute;
  bottom: 7px;
  left: 240px;
background-color: #594232;
  width: 8px;
  height: 8px;
  border-radius: 50% 50%;	
}


/*main-nav*/
.main-nav{
	background-image: url(../img/bgr/bgwood-1.png);
	min-height: 648px;
	background-position: 50% 50%;
	
}
.horse-menu {
			width: 1140px;
			margin: 0 auto;
			padding: 0;
			list-style: none;
		}
		.horse-menu-item {
			position: relative;
			width: 26%;
			height: 180px;
			float: left;
			padding: 40px;
		}

		.horse-menu-item__layout{
			width: 26%;
			height: 180px;
			background: rgba(255, 229, 174, 0.5);
		}
		
		.horse-menu-item__icon {
			display: block;
 			margin: 0 auto;
 			top: 60px;
 			left: 0;
 			bottom: 0;
 			right: 0;
			width: 80px;
			height: 80px;
			background-image: url(../img/icon/spritesheet.png);	
			position: absolute;
			background-repeat: no-repeat;
			}
		.horse-menu-item__icon_aboutus{
			background-position:  left -640px top -10px;
		}
		.horse-menu-item__icon_birds{
			background-position: left -90px top -15px;
		}
		.horse-menu-item__icon_paprika{
			background-position: left -720px top -10px;
		}
		.horse-menu-item__icon_stairway{
			background-position:  left -810px top -10px;
		}
		.horse-menu-item__icon_childeacademy{
			width: 140px;
			height: 100px;
			background-position: left -295px top -8px;
		}
		.horse-menu-item__icon_farmhouse{
			width: 120px;
			height: 100px;
			background-position: left -440px top -10px;
		}
		.horse-menu-item__icon_eco{
			width: 120px;
			height: 100px;
			background-position: left -180px top -8px;
		}
		.horse-menu-item__icon_usefulbooks{
			background-position: left 0px top -8px;
		}
		.horse-menu-item__icon_contacts{
			background-position: left -540px top -10px;
		}
		.horse-menu-item__link {
			display: block;
			color: inherit;
			text-decoration: none;
		}
		.horse-menu-item__title {
			display: block;
			text-align: center;
			text-transform: uppercase;
			color: #ffe5ae;
			font-size: 22px;
			margin: 0 auto;
            bottom: 20%;
            left: 20%;
            padding: 130px 10px 10px 10px;
		}
		.horse-menu-item__nail {
			position: absolute;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background-color: #c89b55;
		}
		.horse-menu-item__nail_top-left {
			top: 10px;
			left: 5px;
		}
		.horse-menu-item__nail_top-right {
			top: 10px;
			right: 5px;
		}
		.horse-menu-item__nail_bottom-left {
			bottom: 10px;
			left: 5px;
		}
		.horse-menu-item__nail_bottom-right {
			bottom: 10px;
			right: 5px;
		}

		.horse-menu-item__link {
			display: block;
			color: inherit;
			text-decoration: none;
		}

		

/*.row{ 
  height: 222px;
  margin: 0 auto;
  
} 
.column-first{
padding:;
  box-sizing: border-box;
  
  margin: ;
width: 33.33%; 
float: left;
margin: 0 auto;
min-height: 222px;
position: relative;

}*/
/*nails*/

/*titles nav*/

/*a.column-titles{
	text-transform: uppercase;
	font-size: 22px;
    color: #ffe5ae;
    display: block;
    height: 100%;
    margin-top: 20px;
    position: relative;
    font-family: MuseoSansCurl 300;
    font-weight: normal;

 }*/

 /*pictures nav*/
 

/*price*/
.price{
	background-image: url(../img/bgr/tileable_wood_texture.png);
	height: 67px;
	border-top: 4px solid #27160a;
	border-bottom: 4px solid #27160a;
	text-transform: uppercase;
	font-family: MuseoSansCurl 300;
	font-size: 24px;
	font-weight: normal;
}

/*gallery*/
.gallery{
	background-image: url(../img/bgr/galleryBGsmall.png);
	height: 283px;
	border-bottom: 4px solid #27160a;
	overflow: hidden;

}
/*gallery*/

.gallery{
	overflow: hidden;
	height: 282px;
	
}

.gallery-item{
 width:30%;
 height: 282px;
 float: left;
 position: relative;
 text-align: center;
}
.block{
width: 100%;
height: 100px;
position: absolute;
}

.gallery-item__outside1{
  width: 30%;
  height: 282px;
  background-repeat: no-repeat;
  text-align: center;
  
}
.gallery-item__middle1{
 background-image: url(../img/content/Slide1.png);
  width: 20%;
  height: 282px;
  background-size: 100% 282px;
  background-repeat: no-repeat;
}
.gallery-item__middle2{
  background-image: url(../img/content/Slide2.png);
 width: 20%;
  background-size: 100% 282px;
  background-repeat: no-repeat;
}
.gallery-item__outside2{
 background-image: url(../img/content/Slide3.png);
  width: 28%;
  background-size: 100% 282px;
  background-repeat: no-repeat; 
}

.block-hover:hover{
   width: 100%;
  height: 282px;
 background-color: rgba(255,255,255,.5);
  position: absolute;
}
.block-hover2:hover{
  width: 100%;
  height: 282px;
 background-color: rgba(255,255,255,.5);
  position: absolute;
}
.block-hover:hover:before{
    content:"";
  display: inline-block;
padding: 20px;
background-image: url(../img/icon/Gallery-search.png);
  background-size: 40px 40px ;
  background-repeat: no-repeat;
  position: absolute;
top: 100px;
  right: 45%;
}
.block-hover:hover:after{
  content:"Наши лошади";
  display: inline-block;
  text-transform: uppercase;
  font-size: 22px;
  color: #46240d;
  font-family: MuseoSansCurl 300;
  position: absolute;
  top: 160px;
  right: 20%;
}
.block-hover2:hover:before{
   content:"";
  display: inline-block;
padding: 20px;
background-image: url(../img/icon/Gallery-search.png);
  background-size: 40px 40px ;
  background-repeat: no-repeat;
  position: absolute;
top: 100px;
  right: 50%;
}
.block-hover2:hover:after{
  content:"Наши лошади";
  display: inline-block;
  text-transform: uppercase;
  font-size: 22px;
  color: #46240d;
  font-family: MuseoSansCurl 300;
  position: absolute;
  top: 160px;
  right: 30%;
}

.gallery-item__title{
  position: absolute;
  top: 100px;
  left: 35%;
  text-transform: uppercase;
  font-size: 22px;
}
.gallery-item__subtitle{
  text-decoration: underline;
  text-transform: uppercase;
  color: #27160a;
  position: absolute;
  bottom: 110px;
  left: 40%;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
.gallery-title-img{
position: absolute;
display: inline-block;
top: 60px;
left: 50%;
}

/*news and feedback*/
.feedback-news{
	background-image: url(../img/bgr/textilBGsmall.png);
	height: 700px;
	font-family: MuseoSansCurl 300;
	overflow: hidden;
	position: relative;
	
}

/*news*/
.column-left{
	width: 516px;
	color: #fff;
	font-style: none;
	font-weight: normal;
	font-family: MuseoSansCurl 300;
	
}
.news-title{
color: #ffe5ae;
font-size: 22px;
font-weight: normal;
letter-spacing: 2.5px;
text-transform: uppercase;
margin: 0;
	padding: 0;
}
.news-subtitle{
	color: #e7b457;
	font-size: 14px;
	margin: 0;
	padding: 0;
}
.news-subtitle-img{
margin-left: 240px;
margin-top: 20px;
}

time{
	font-size: 15px;
color: #ff9b1a;
}
.news-text a{
	font-size: 14px;
	color: #c2a06d;
}

.news-text:hover a{
	font-size: 14px;
	color: #fff;
	text-decoration: underline;
}

/*feedback*/

.column-right{
	width: 516px;
	color: #fff;
}

.feedback{
	padding-left: 35px;
	/*border-left: 2px solid #fff;*/
}

/*border*/
.feedback:before{
content:"";
  display: inline-block;
  position: absolute;
  bottom: 10%;
  right: 50%;
background-color: #ffe5ae;
  width: 2px;
  height: 553px;
}

.feedback-title{
color: #ffe5ae;
font-size: 22px;
font-weight: normal;
letter-spacing: 2.5px;
text-transform: uppercase;
margin: 0;
	padding: 0;
}
.feedback-subtitle{
	color: #e7b457;
	font-size: 14px;
}
.feedback-subtitle-img{
	margin-left: 240px;
margin-top: 15px;
}
.feedback-item_title{
	color: #ffe5ae;
	margin-top: 10px;
}
.feedback-item_name{
	color: #95725a;
	
	margin-left: 15px;
	margin-right: 15px;
}
.feedback-item_text{
	color: #b9a270;
	margin-top: 15px;
	margin-bottom: 40px;
}


/*location*/

.location{
	background-image: url(../img/bgr/galleryBGsmall.png);
	height: 82px;
	border-top: 4px solid #27160a;
	border-bottom: 4px solid #27160a;
}
.location-title{
	color: #30190c;
	font-size: 24px;
	font-family: MuseoSansCurl 300;
	font-weight: normal;
	text-transform: uppercase;
	margin-top: 25px;
}

/*map*/

.map{
	height: 563px;
	position: relative;
	
}

/*footer*/

.footer-contacts{
   height: 200px;
	background-color: #1d1007;
  
}
.footer-contacts-item{
  color: #ffe5ae;
  position: relative;
}
.footer-contacts-item1:before{
  content:"";
  display: inline-block;
  position: absolute;
  bottom: 10px;
  left: -10%;
background-color: #ffe5ae;
  width: 2px;
  height: 60px;
}
.footer-contacts-item1{
  position: absolute;
  top: 55px;
  left: 0%;
}

.footer-contacts-item2{
  position: absolute;
  top: 80px;
  left: 40%;
}
.footer-contacts-item3:after{
  content:"";
  display: inline-block;
  position: absolute;
  bottom: 10px;
  right: -10%;
background-color: #ffe5ae;
  width: 2px;
  height: 60px;
}
.footer-contacts-item3{
  position: absolute;
  top: 55px;
  right: 0%;
  text-align: right;
}

.footer-adress-text1{
	text-transform: uppercase;
}
.footer-adress-text2{
	text-transform: none;
}
.footer-number-text1{
	text-transform: uppercase;
}
.footer-number-text2{
	text-transform: none;
}

















 








 