/*overall settings*/

body{margin: 0;
padding: 0;}
body{min-width: 1200px;}
body{font-family: 'Roboto', sans-serif;}
a{text-decoration: none;}
/*floats*/
.right{float: right;}
.left{float: left;}
.center{text-align: center;}
ul li{display: inline-block;}
h1 h2 h3 h4{width: 0; height: 0; margin: 0; padding: 0;}
input{margin: 0; padding: 0;}

.container{
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 0;
	margin-bottom: 0;	
 }
 .row{
 	overflow: hidden;
 }

/*header*/
.top{
	background-color: #1d1007;
	-webkit-background-size: 100%;
	background-size: 100%;
	height: 66px;
	padding-top: 25px;
}
.search-window{
	padding-top: 25px;
	margin-bottom: 25%;
	background-color: #1d1007;
}
.search-window_item{
width: 378px;
height: 25px;
display: inline;
margin-left: 200px;
margin-bottom: 25px;
margin-top: 0;
padding-top: 0;
}


.vk_like{
	color: #f5abb6;
	margin-left: 10px;
}
.fa{margin: 1%;
color: #fff;
}
.number-top{color: #fff;
margin-right: 50px;
}
.heart{margin-left: 96px;}
.vk-icon{margin-left: 50px;}



/*main*/
.promo{
	background-image: url(../img/bgr/horsaye.png);
	overflow: hidden;
	background-repeat: no-repeat;
	min-width: 1400px;
	min-height: 605px;
	margin: 0 auto;
	border-bottom: 4px solid #27160a;
}
.promo-column{
	width: 50%;
}
.promo-title{
	font-style: italic;
	font-size: 20px;
	font-weight: normal;
	margin-top: 200px;
	margin-left: 100px;
	color: #594232;
font-family: MuseoSansCurl 500;
position: relative;


}
.promo-title:before{
content:"";
  display: inline-block;
  position: absolute;
  bottom: 7px;
  right: 240px;
background-color: #594232;
  width: 8px;
  height: 8px;
  border-radius: 50% 50%;
}
.promo-title:after{
content:"";
  display: inline-block;
  position: absolute;
  bottom: 7px;
  left: 240px;
background-color: #594232;
  width: 8px;
  height: 8px;
  border-radius: 50% 50%;	
}

.promo-btn a{
	text-transform: uppercase;
	font-family: AmazingGrotesk TemiBold;
	font-size: 44px;
	font-weight: bold;
	color: #fff;
	padding: 30px 100px;
	background-image: url(../img/bgr/bgwood-1.png);
	background-repeat: no-repeat;
	color: #8e7f74;
	border-radius: 15px;
	/*добавить внутренняя тень*/
	
}
.promo-column{
	position: relative;
	
}
/*белые круги */

/*.corner{
width: 40px;
height: 40px;
background-image: url(../img/icon/WitheRound.png);
background-repeat: no-repeat;
padding-top: 10px;
text-align: center;
color: #fff;	
}
.l-top-corner{
top: 40px;
left: 30px;
}
.r-top-corner{
top: 60px;
left: 88px;
}
.l-bottom-corner{
top: 50px;
left: 48%;
}
.r-bottom-corner{
top: 60px;
right: 88px;	
}*/


.promo-subtitle{
	font-style: italic;
	font-weight: normal;
	font-size: 20px;
	color: #594232;
	margin-left: 100px;
	margin-top: 20px;
}


.promo-name,.promo-title, .promo-slogan{display: inline-block;
}
/*main-nav*/
.main-nav{
	background-image: url(../img/bgr/bgwood-1.png);
	min-height: 648px;
	background-position: 50% 50%;
}

.row{ 
  height: 222px;
  margin: 0 auto;
  /* border: 4px solid #2AA198;*/
} 
.column-first{
padding:;
  box-sizing: border-box;
  
  margin: ;
width: 33.33%; 
float: left;
margin: 0 auto;
min-height: 222px;
}

.column-first:nth-child(2){
	background: rgba(255,229,174,0.5)
}

.column-second{
padding:;
  box-sizing: border-box;
  
  margin: ;
width: 33.33%; 
float: left;
margin: 0 auto;
min-height: 222px;	
}

.column-second:nth-child(1){
	background: rgba(255,229,174,0.5)
}
.column-second:nth-child(3){
	background: rgba(255,229,174,0.5)
}

.column-third{ 
padding:;
  box-sizing: border-box;
  
  margin: ;
width: 33.33%; 
float: left;
margin: 0 auto;
min-height: 222px;
} 
.column-third:nth-child(2){
	background: rgba(255,229,174,0.5)
}

 /*titles nav*/

a.column-titles{
	text-transform: uppercase;
	font-size: 22px;
    color: #ffe5ae;
    display: block;
    height: 100%;
    margin-top: 20px;
    position: relative;
    font-family: MuseoSansCurl 300;
    font-weight: normal;
 }
 /*pictures nav*/
 .nav-item__pic{
 	margin-top: 33px;
 	margin-left: 155px;
 }
 

/*price*/
.price{
	background-image: url(../img/bgr/tileable_wood_texture.png);
	height: 67px;
	border-top: 4px solid #27160a;
	border-bottom: 4px solid #27160a;
	text-transform: uppercase;
	font-family: MuseoSansCurl 500;
	font-size: 20px;
	font-weight: normal;
}

/*gallery*/
.gallery{
	background-image: url(../img/bgr/galleryBGsmall.png);
	height: 283px;
	border-bottom: 4px solid #27160a;
	overflow: hidden;

}
/*gallery*/
/*section.gallery c ofh и высотой*/
/*абсолютное позиционирование*/
/*внутри dib элементики с posr*/
/*.gallery-item>img.gallery-item__pic+.gallery-item__info
.gallery-item__info{posa w100% h100% dn}
.gallery-item:hover > .gallery-item__info{display: block}*/
.gallery{
	overflow: hidden;
	height: 282px;
	
}

.gallery-item{
	position: relative;
	margin-right: 0;
	padding-right: 0;
	display: inline-block;

}
/*иконка фотогалереи*/
.gallery-title-img{
	display: none;
	padding-top: 25px;
	margin-left: 40px;
}
.gallery-title{
	display: none;
	font-family: MuseoSansCurl 300;
	font-size: 20px;
	font-weight: normal;
	padding-right: ;
	padding-left: ;
	text-transform: uppercase;
	
}
.gallery-subtitle{
display: none;
}

/*картинки фотогалереи*/
.gallery-item__pic{
position: absolute;
		
}
.gallery-item__pic1{
	left: 105px;
	top: -87px;
}
.gallery-item__pic2{
	left: 385px;
	top: -87px;
}
.gallery-item__pic3{
	left: 666px;
	top: -87px;
}
.gallery-item__info{
	position: absolute;
	 width: 100%;
	 height: 100%;
	 display: none;
right: 150px;
  left: 50px;
	}

.gallery-item__pic:nth-child(2){
background: rgba(255,229,174,0.5)
}



/*.gallery-item__pic:hover {
background-color: rgba(255,225,225,0.5);	
}
*/

/*news and feedback*/
.feedback-news{
	background-image: url(../img/bgr/textilBGsmall.png);
	height: 607px;
}

/*news*/
.column-left{
	width: 516px;
	color: #fff;
	font-style: none;
	font-weight: normal;
	
}

/*feedback*/

.column-right{
	width: 516px;
	color: #fff;
}

.feedback{
	padding-left: 35px;
	border-left: 2px solid #fff;
}


/*location*/

.location{
	background-image: url(../img/bgr/galleryBGsmall.png);
	height: 82px;
	border-top: 4px solid #27160a;
	border-bottom: 4px solid #27160a;
}
/*map*/

.map{
	height: 563px;
}
/*footer*/
.bottom{
	background-color: #1d1007;
	height: 200px;
	overflow: hidden;
}
.adress{color: #fff;}
.copyright{color: #fff;}
.contacts{color: #fff;}

.bottom-item{margin-top: 50px;}
















 








 